* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* Navigator bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
}

@media (max-width: 768px) {
    .navbar .menu {
        flex-direction: column;
        display: none;
    }

    .navbar .menu.active {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #302f2f;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5em;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}

/* Hero Section */
.hero {
    position: relative;
    height: 650px;
    background-image: url('resources/IMG_0189.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Content Section */
.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1500px;
    margin: 50px auto;
}

.content-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content-item.show {
    opacity: 1;
    transform: translateY(0);
}

.content-item.reverse {
    flex-direction: row-reverse;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #302f2f;
    padding: 20px 0;
    text-align: center;
    color: white;
}
