* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    position: relative;
    background-color: #1d1d1d;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;

}

/*Animation*/
@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Navigator bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.navbar .menu {
    display: flex;
}

@media (max-width: 768px) {
    .navbar .menu {
        flex-direction: column;
        display: none;
    }

    .navbar .menu.active {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #302f2f;
        z-index: 1000;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5em;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}


/*HOME*/



.regtangle-index-text-container {
    margin: 0;
    padding: 0;
    display: flex;
    opacity: 0;
    animation: flyIn 1s ease-out forwards;
    align-items: center;
}

.photo1-index {
    height: auto;
    width: 80%;
}

.Group {
    color: white;
    font-family: "Inter", sans-serif;
    position: absolute;
    bottom: 15%;
    padding-left: 80%;
    font-size: 66px;
    display: flex;
}

.description {
    color: white;
    font-family: "Inter", sans-serif;
    position: absolute;
    padding-left: 80%;
    font-size: 25px;
    font-weight: 300;
    display: flex;
    bottom:3%;
    left: 0.2%;
}

.large-block {
    display: flex;
    margin: 2rem;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-large {
    width: 70%;
    height: 300px;
    background-color: #ccc;
    /* สีเทาสำหรับแทนรูปภาพ */
}

.text-large {
    width: 30%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.small-block {
    display: flex;
    margin: 6rem 0rem;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-small {
    width: 50%;
    height: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;

}

.Img-index {
    width: 673px;
    height: 378px;

}


.text-small {
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-small p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.form {
    padding-top: 1%;
    padding-bottom: 2%;
    top: 101.5%;
    left: 20%;
    position: relative;
    width: 500px;
}

.form input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.form input[type="text"],
.form input[type="email"] {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(58, 58, 58);
    height: 50px;
    color: #ffffff;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus {
    border-bottom: 2px solid red;
}

.form textarea {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.Comment form textarea[name="message"] {
    border: none;
    outline: none;
    border-bottom: 2px solid #585858;
    height: 150px;
    color: #ffffff;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
}

.Comment form textarea[name="message"]:focus {
    border-bottom: 2px solid red;
}

.form button {
    position: relative;
    padding: 10px 30px;
    background: #585858;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.623);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.form button:hover {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.image-small img {
    width: 160%;
    height: auto;
}

.text-small_index {
    position: relative;
    font-size: 42px;
    font-weight: 500;
    color: #ffffff;
    line-height: 85%;
    left: 30%;
    bottom: -470px;
    padding-left: 1%;
}

.text-small_index .nick {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    bottom: -1%;
}

.text-small_index .ID {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    bottom: 0%;
}

.buttons_index {
    display: flex;
    margin-top: 20%;
    gap: 15px;
    z-index: 1000;
}

.buttons_index button {
    position: relative;
    top: -40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.buttons_index button:hover {
    background-color: #b30000;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.buttons_index button:active {
    background-color: #800000;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Comment form .topic{
    text-align: center;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.61);
    background-color: #424242;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.Comment form .topic:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid red;
}
.beforeform{
    position: relative;
    color: #ffffff;
    left: 20%;
    bottom: 13.2%;
    font-size: 50px;
}
.beforeform_1{
    position: relative;
    color: #ffffff;
    left: 20%;
    font-size: 20px;
}
.Comment-show {
    position: relative;
    font-family: "Inter", sans-serif;
    padding: 20px;
    max-width: 800px;
    left: 50%;
    top: -500px;
}

.Comment-show h1 {
    font-size: 45px;
    color: #fcfcfc;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.Comment-show .entry-list{
    position: relative;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 2px solid red;
    margin-bottom: 20px;
    padding: 15px;

    transition: all 0.3s ease-in-out;
}


/* Responsive Design */
@media (max-width: 768px) {

    .large-block,
    .small-block {
        flex-direction: column;
    }

    .image-large,
    .image-small {
        width: 100%;
        height: 200px;
    }

    .text-large,
    .text-small {
        width: 100%;
    }
}

/*Animation*/

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.image-large:hover,
.image-small img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    filter: brightness(1.2);
}


.buttons_index button:hover {
    background-color: #b30000;
    transform: translateY(-5px) scale(1.05);
}

/* Text Animations */
.text-large,
.text-small {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}










/*Journey*/
.hero {
    position: relative;
    height: 650px;
    /* ปรับขนาดของภาพใหญ่ */
    background-image: url('resources/IMG_0189.jpg');
    /* แทน URL ด้วยภาพจริง */
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    margin-top: 300px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 1);
    /* เพิ่มความมืดให้ภาพ */
    padding: 20px;
    border-radius: 0px;

}


.hero-slider {
    position: relative;
    height: 650px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

.slide {
    min-width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}


.hero-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.hero h1 {
    font-size: 3rem;
    margin: 0;

}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-decoration: none;
}

/* Animation */
.hero {
    transition: background-color 0.5s ease;
}

.hero-overlay {
    transition: transform 1s, opacity 1s;
}

#scroll-btn {
    text-decoration: none;
    color: white;
    display: flex;
    width: 100%;
}


header {
    text-align: center;
    margin: 20px 0;
}

.section-title {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1500px;
    margin: 50px auto;
    justify-content: center;
}



.content-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    height: 300px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.content-item2 {
    display: flex;
    gap: 20px;
    padding: 15px;
    height: 300px;
    align-items: center;
    flex-direction: row;
    /* align-content: flex-end; */
    justify-content: flex-end;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}



.text-content h2 {
    margin: 0 0 10px 000px;
    font-size: 30px;
    color:  #ffffff;
}

.text-content p {
    margin: 0 0 0px 000px;
    font-size: 14px;
    color: #ffffff;
}

.text-content2 h2 {
    margin: 0 0 10px 500px;
    font-size: 18px;
    display: flex;
    justify-content: end;
}

.text-content2 p {
    margin: 0 0 0px 500px;
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: end;
}

.end {
    display: flex;
    justify-content: end;
}


.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

/* ซ่อนเนื้อหาเริ่มต้น */
.content-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.content-item.show {
    opacity: 1;
    transform: translateY(0);
}

.content-item2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.content-item2.show {
    opacity: 1;
    transform: translateY(0);
}


/*image*/
.image-placeholder {
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border-radius: 0px;
    display: flex;
}

.image-placeholder2 {
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border-radius: 0px;
    display: flex;

}

.img-journey {
    width: 300px;
    height: 300px;
    /*display: flex;
align-self: flex-end;
margin-left: auto;*/
}
.img-journey_can{
    width: 300px;
    height: 300px;
    object-fit: cover;
    /*display: flex;
align-self: flex-end;
margin-left: auto;*/
}


/*Journey  PC*/




/*Journey  Phone*/
@media (max-width: 360px) {
    .content-item {
        display: flex;
        gap: 20px;
        /* background: white; */
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content2 {
        display: block;
        position: relative;
    }

    .wrap-journey {
        display: flex;
    }

    .content-item2 {
        display: flex;
        flex-wrap: wrap-reverse;

    }

    .content-container img {
        justify-content: center;

    }

    .img-journey {
        width: 300px;
        height: auto;
    }


}

/*Journey  Tablet*/


/*------------------------------------- ตกแต่งหน้า Future ---------------------------------------------------*/

/* photo1 + ข้อความ */
.regtangle1-text-container {
    opacity: 0;
    animation: flyIn 1s ease-out forwards;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

/* photo1 */
.photo1 {
    width: 650px;
    height: auto;
    flex-shrink: 0;
    border-radius: 0px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 80px;
}

/* ข้อความ */
.textparagraph2 {
    text-align: justify;
    color: #ffffff;
    font-size: 20px;
    margin-top: 80px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
}

.textparagraph2 .future {
    position: relative;
    top: 120px;
    font-size: 80px;
    left: 55px;
    font-family: "Inter", sans-serif;
}

.textparagraph2 .goal {
    position: relative;
    top:130px;
    font-size: 30px;
    left: 190px;
    font-family: "Inter", sans-serif;
}


.textparagraph2 .game {

    width: auto;
    height: auto;
    background: rgb(17, 17, 17);
    /* พื้นหลังโปร่งแสง */
    backdrop-filter: blur(10px);
    /* ทำให้เบลอ */
    border-radius: 15px;
    /* มุมโค้งมน */
    border: 1px solid rgba(5, 5, 5, 0.3);
    /* เส้นขอบ */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* เงาสร้างมิติ */
    padding: 20px;
    font-size: large;
    padding-left: 10%;
    margin-bottom: 5%;
}

.textparagraph2 .game:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.textparagraph2 .garfield {
    width: auto;
    height: auto;
    background: rgb(17, 17, 17);
    /* พื้นหลังโปร่งแสง */
    backdrop-filter: blur(10px);
    /* ทำให้เบลอ */
    border-radius: 15px;
    /* มุมโค้งมน */
    border: 1px solid rgba(5, 5, 5, 0.3);
    /* เส้นขอบ */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* เงาสร้างมิติ */
    padding: 20px;
    font-size: large;
    padding-left: 10%;
    margin-bottom: 5%;
}

.textparagraph2 .garfield:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.textparagraph2 .fluke {
    width: auto;
    height: auto;
    background: rgb(17, 17, 17);
    /* พื้นหลังโปร่งแสง */
    backdrop-filter: blur(10px);
    /* ทำให้เบลอ */
    border-radius: 15px;
    /* มุมโค้งมน */
    border: 1px solid rgba(5, 5, 5, 0.3);
    /* เส้นขอบ */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* เงาสร้างมิติ */
    padding: 20px;
    padding-left: 20px;
    font-size: large;
    padding-left: 10%;
    margin-bottom: 5%;
}

.textparagraph2 .fluke:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.textparagraph2 .can {
    width: auto;
    height: auto;
    background: rgb(17, 17, 17);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: large;
    padding-left: 10%;
    margin-bottom: 5%;
}

.textparagraph2 .can:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.textparagraph2 .june {
    width: auto;
    height: auto;
    background: rgb(17, 17, 17);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: large;
    padding-left: 10%;
    margin-bottom: 5%;
}

.textparagraph2 .june:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/*---------------------------------------------------------------------------------------------------*/

.regtangle2-text-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 20px;
}

.photo2 {
    flex-shrink: 0;
    width: 600px;
    height: auto;
    border-radius: 0%;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.textparagraph3 {
    font-size: 23px;
    color: #333;
    padding-top: 50px;
    margin: 0;
    white-space: pre-line;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}



@media (max-width: 1024px) {

    .regtangle1-text-container,
    .regtangle2-text-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .photo1,
    .photo2 {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .textparagraph2,
    .textparagraph3 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    .photo1,
    .photo2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}


.footer {
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #050505;
}

.footer_index {
    position: sticky;
    margin-top: auto;
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #050505;
}

.inner_footer .footer_logo {
    position: relative;
    width: 50%;
    padding-left: 65%;
    top: -30px;
    object-fit: scale-down;

}

.inner_footer .indexfooter_logo {
    position: absolute;
    overflow: hidden;
    width: 30%;
    padding-left: 40%;
    top: 50px;
    object-fit: cover;
    z-index: 1;
}

.inner_footer .form {
    position: relative;
    display: fixed;
    overflow: hidden;
    color: white;
    top: -40px;
    z-index: 2;
}

.login-box {
    width: 100%;
    height: 60px;
}

.input-box .input-field {
    margin-top: 4%;
    width: 30%;
    height: 40px;
    z-index: 2;
}

.input-box .comment {
    margin-top: 1%;
    width: 30%;
    height: 90px;

}

.submit-btn {
    margin-top: 1%;
    width: 30.5%;
    height: 40px;
    border: none;
    background-color: red;
    font-size: large;
    color: #ffffff;
}

.headform {
    position: absolute;
    color: white;
    width: 100%;
    top: 5%;
}

.submit-btn:hover {
    color: #050505;
    background-color: rgba(255, 0, 0, 0.521);
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.wave-text {
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
}